<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alignment_Innovation_WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Alignment_Innovation_WEB.styles.css" asp-append-version="true" />
</head>
<body>

    <header style="background: linear-gradient(to bottom right, #000000, #0c1444) !important;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-green border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="https://i.imgur.com/SBsumla.png" alt="Logo" width="300" height="75">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarRightAlignExample" aria-controls="navbarRightAlignExample"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarRightAlignExample">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <!-- Botón Home (primera instancia) -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/Index"
                                       style="background: linear-gradient(to bottom right, #FFFFFF, #019CFF ); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Home</a>
                                </li>
                                <!-- Dropdown Privacy -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrivacy" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false"
                                       style="background: linear-gradient(to bottom right, #ffffff, #019CFF ); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                                        Our Capabilities
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPrivacy"
                                        style="background: #1A5276">
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">CiberSecurity</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">Call Center Services</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">Cloud Migration</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">Artificial Intelligence</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">Threat Intelligence</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">Ded Sec Ops</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Segunda instancia del botó -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrivacy" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false"
                                       style="background: linear-gradient(to bottom right, #ffffff, #019CFF ); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                                        Why A.I
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPrivacy"
                                        style="background: #1A5276">
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">Leadership Team</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">Who We Are</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">Clients</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                               style="background: #FFFFFF; -webkit-background-clip: text; -webkit-text-fill-color: transparent"
                                               href="#">Partners</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- Botón CONTACTANOS (primera instancia) -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/Index"
                                       style="background: linear-gradient(to bottom right, #FFFFFF, #019CFF ); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Contact Us!</a>
                                </li>
                                <!-- Cuarta instancia del botón-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrivacy" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false"
                                       style="background: linear-gradient(to bottom right, #ffffff, #019CFF ); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                                        Ayuda
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </header>








    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Esta es la barra de Abajo de la pantalla  -->
    <!-- Footer -->
    <footer style="background: linear-gradient(to bottom right, #000000, #0c1444) !important;">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block align-self-center">
                <span style="font-size: 0.9rem;">Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div class="align-self-center">
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="pt-4" style="background: linear-gradient(to bottom right, #FFFFFF, #019CFF ); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
            <div class="container text-center text-md-start">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                        <!-- Links -->
                        <h5 class="text-uppercase fw-bold mb-4" style="font-size: 0.9rem;">Alignment Innovation</h5>
                        <p class="mb-2" style="font-size: 0.85rem;">
                            <i class="fas fa-home me-2"></i>
                            Maintaining the safety and reliability of digital systems since 2023
                        </p>
                        <br> <!-- Agregamos un salto de línea -->
                        <h6 class="text-uppercase fw-bold mb-4" style="font-size: 0.9rem;">
                            <i class="fas fa-gem me-2"></i>
                            Contact
                        </h6>
                        <div style="display: flex; align-items: center;">
                            <i class="fas fa-envelope me-2"></i>
                            <div>
                                <p class="mb-1"><a href="mailto:rob@alignmentinnovations.com">rob@alignmentinnovations.com</a></p>
                                <p class="mb-1"><a href="mailto:Annie@alignmentinnovations.com">Annie@alignmentinnovations.com</a></p>
                            </div>
                        </div>
                        <p class="mb-1">
                            <i class="fas fa-phone me-2"></i>
                            +1 (571) 208-7970
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4" style="font-size: 0.9rem;">
                            Products
                        </h6>
                        <p class="mb-1">
                            <a href="#!" class="text-reset" style="font-size: 0.85rem;">Angular</a>
                        </p>
                        <p class="mb-1">
                            <a href="#!" class="text-reset" style="font-size: 0.85rem;">React</a>
                        </p>
                        <p class="mb-1">
                            <a href="#!" class="text-reset" style="font-size: 0.85rem;">Vue</a>
                        </p>
                        <p class="mb-1">
                            <a href="#!" class="text-reset" style="font-size: 0.85rem;">Laravel</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4" style="font-size: 0.9rem;">
                            Useful links
                        </h6>
                        <p class="mb-1">
                            <a href="#!" class="text-reset" style="font-size: 0.85rem;">Pricing</a>
                        </p>
                        <p class="mb-1">
                            <a href="#!" class="text-reset" style="font-size: 0.85rem;">Settings</a>
                        </p>
                        <p class="mb-1">
                            <a href="#!" class="text-reset" style="font-size: 0.85rem;">Orders</a>
                        </p>
                        <p class="mb-1">
                            <a href="#!" class="text-reset" style="font-size: 0.85rem;">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4" style="font-size: 0.9rem;">
                            Contact
                        </h6>
                        <p class="mb-1"><i class="fas fa-home me-2"></i> New York, NY 10012, US</p>
                        <p class="mb-1">
                            <i class="fas fa-envelope me-2"></i>
                            info@example.com
                        </p>
                        <p class="mb-1"><i class="fas fa-phone me-2"></i> + 01 234 567 88</p>
                        <p class="mb-1"><i class="fas fa-print me-2"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background: linear-gradient(to bottom right, #FF3333, #FF6666 40%, #FFFFFF 30%, #66CCFF 80%); color: transparent; -webkit-background-clip: text;">
            <span style="background: linear-gradient(to bottom right, #FF3333, #FF6666 40%, #FFFFFF 30%, #66CCFF 80%); -webkit-background-clip: text; color: transparent;">© 2021 Copyright: AlignmentInnovation.com</span>
        </div>





        <!-- Copyright -->
    </footer>
    <!-- Footer -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>