@page
@model CloudMigrationModel
@{
    ViewData["Title"] = "CloudMigration";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transparent Images</title>

    <style>

       /*PARTE DEL MEDIO*/

        /* Estilos para los contenedores de los rectángulos */
        .boxesContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; /* Distribuye los elementos uniformemente en la fila */
        }

        /* Estilos para cada rectángulo */
        .image-wrapper {
            width: calc(50% - 40px); /* Ajusta el ancho para que entren dos en una fila */
            margin: 20px; /* Ajusta el margen */
            background-color: rgba(204, 204, 204, 0.5); /* Fondo gris translúcido */
            padding: 10px;
            overflow: hidden; /* Oculta el contenido que se desborda */
            position: relative; /* Añadir posición relativa para contener el pseudo-elemento */
            border-radius: 5px; /* Añadir bordes redondeados */
            transition: background-color 0.3s ease; /* Transición suave para el cambio de opacidad */
            cursor: pointer; /* Cambiar el cursor al pasar sobre el elemento */
        }

            /* Efecto de hover */
            .image-wrapper:hover {
                background-color: rgba(0, 0, 0, 0.8); /* Cambia el color de fondo a negro */
            }

                /* Efecto de hover para el título (h2) */
                .image-wrapper:hover .image-text h2 {
                    color: #ffffff; /* Cambia el color del texto a blanco */
                    transition: color 0.3s ease; /* Transición suave para el cambio de color */
                }
                /* Efecto de hover para el título (h2) */
                .image-wrapper:hover .image-text p {
                    color: #ffffff; /* Cambia el color del texto a blanco */
                    transition: color 0.3s ease; /* Transición suave para el cambio de color */
                }
            .image-wrapper:hover {
                animation: borderAnimation 4s infinite; /* Aplica la animación de luces LED en bucle a los bordes */
                border: 2px solid transparent; /* Añade un borde transparente para iniciar la animación */
            }

        /* Estilos para los botones de imágenes DEL FINAL */
        .image-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .image-button {
            margin: 0 10px;
            position: relative; /* Posición relativa para que el texto esté dentro de la imagen */
            overflow: hidden; /* Oculta el texto que está fuera de la imagen */
        }

            .image-button img {
                width: 160px;
                height: 190px;
                border: 3px solid transparent; /* Borde transparente */
                border-radius: 10px; /* Bordes redondeados */
                transition: opacity 0.3s ease; /* Transición suave para la opacidad */
            }

            /* Efecto de opacidad al pasar el mouse sobre las imágenes */
            .image-button:hover img {
                opacity: 0.5; /* Opacidad reducida al pasar el mouse */
                border-color: rgba(43, 209, 216, 1);
            }

            /* Estilos para el texto */
            .image-button p {
                position: absolute; /* Posición absoluta con respecto al contenedor */
                top: 50%; /* Alinea el texto en el centro verticalmente */
                left: 50%; /* Alinea el texto en el centro horizontalmente */
                transform: translate(-50%, -50%); /* Centra el texto completamente */
                color: rgba(43, 209, 216, 1); /* Color del texto */
                opacity: 0; /* Inicialmente el texto es transparente */
                transition: opacity 0.3s ease; /* Transición suave para la opacidad */
            }

            /* Mostrar el texto al pasar el mouse sobre las imágenes */
            .image-button:hover p {
                opacity: 1; /* Mostrar el texto con opacidad completa */
            }

        button {
            padding: 17px 40px;
            border-radius: 50px;
            cursor: pointer;
            border: 0;
            background-color: white;
            box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-size: 15px;
            transition: all 0.5s ease;
        }

            button:hover {
                letter-spacing: 3px;
                background-color: hsl(261deg 80% 48%);
                color: hsl(0, 0%, 100%);
                box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
            }

            button:active {
                letter-spacing: 3px;
                background-color: hsl(261deg 80% 48%);
                color: hsl(0, 0%, 100%);
                box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
                transform: translateY(10px);
                transition: 100ms;
            }

        /* Esta es la imagen de Fondo de cuadrados */
        .background {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to right, #57003b, #5c6114);
            display: flex;
            flex-grow: 1;
            z-index: -1;
        }

            .background div {
                position: absolute;
                border-radius: 100%;
                height: 0;
                filter: blur(240vw);
                opacity: 0.4;
            }

                .background div:nth-child(1) {
                    background: linear-gradient(132deg, #00ffee 0.00%, #000000 100.00%);
                    width: 46%;
                    padding-top: 46%;
                    left: 78%;
                    top: 0%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(2) {
                    background: linear-gradient(132deg, #ff0000 0.00%, #ff0000 100.00%);
                    width: 40%;
                    padding-top: 40%;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(3) {
                    background: linear-gradient(132deg, #e100ff 0.00%, #fb00ff 100.00%);
                    width: 30%;
                    padding-top: 30%;
                    left: 80%;
                    top: 80%;
                    transform: translateX(-50%) translateY(-50%);
                }



        .content {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        /* Estilos para la imagen dentro del contenido */
        .top-image {
            width: 100%; /* Ajusta el ancho según sea necesario */
            margin-top: -100px; /* Ajusta el margen superior según sea necesario para evitar solapamientos */
            position: relative; /* Añadir posición relativa para permitir posicionar elementos hijos */
            border-radius: 20px; /* Añadir bordes redondeados */
            overflow: hidden; /* Ocultar el desbordamiento para que el desenfoque se limite al contenedor */
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); /* Aplicar efecto de sombra difuminada */
        }
        /* Estilos para el párrafo con título */
        .custom-paragraph {
            position: absolute; /* Posicionar el párrafo sobre la imagen */
            bottom: 7%; /* Ajustar la posición vertical */
            left: 25%; /* Ajustar la posición horizontal */
            transform: translateX(-50%); /* Centrar el párrafo */
            padding: 20px; /* Espaciado interno */
            border-radius: 5px; /* Añadir bordes redondeados */
            font-size: 16px; /* Tamaño de fuente */
            text-align: center; /* Alinear texto al centro */
            z-index: 1; /* Asegurar que el párrafo esté sobre la imagen */
            width: 383px;
            height: auto; /* Cambiado a 'auto' para adaptarse al contenido */
            color: white;
            /*background-color: rgba(128, 128, 128, 0.5); /* Fondo gris translúcido */
            border-radius: 10px;
        }

        .image-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }


        .img-fluid {
            background-color: #ccc; /* Fondo gris */
            border-radius: 50%; /* Hace que la imagen sea circular */
        }

        .image-text {
            margin-top: 10px; /* Espacio entre la imagen y el texto */
            text-align: center; /* Alinear texto al centro */
        }

        .ParrafoX p {
            color: white;
            background-color: rgba(204, 204, 204, 0.5);
        }

        .sub-title {
            text-align: center;
            color: white;
            font-size: 24px;
            margin-top: 50px; /* Ajusta según sea necesario */
            padding: 10px; /* Agregado para el recuadro alrededor del texto */
            background-color: #3B6BB0; /* Agregado para el fondo violeta */
        }

        /* Nuevo selector CSS más específico para .sub-title */
        .sub-title-container .sub-title {
            background-color: rgba(204, 204, 204, 0.5); /* Color de fondo */
            padding: 10px; /* Espaciado interno */
            text-align: center; /* Alinear texto al centro */
            margin-top: 20px; /* Espaciado superior */
        }

        .circle-image {
            width: 150px; /* Ajusta el tamaño de la imagen circular según tus necesidades */
            height: 150px; /* Ajusta el tamaño de la imagen circular según tus necesidades */
            background-image: url('https://i.imgur.com/YNb0qdC.png'); /* Reemplaza 'url_de_tu_imagen_redonda.jpg' con la URL de tu imagen redonda */
            background-size: cover;
            border-radius: 50%; /* Esto hace que la imagen tenga forma de círculo */
            margin: 0 auto; /* Esto centra la imagen horizontalmente */
        }

    </style>

    <div class="background">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</head>
<body>
    <div class="content">
        <!-- Imagen dentro del contenido -->
        <div class="top-image">
            <img src="https://i.imgur.com/HkPl2LO.png" alt="Top Image" style="width: 100%;" class="top-image">
            <div class="custom-paragraph">
                <h1>CLOUD MIGRATION</h1>
                <p>At Alignment Innovation, we redefine the cloud migration experience. It's not just about moving data; it's about ensuring a seamless transition that enhances your business agility, security, and scalability. Our team of experts works tirelessly to understand your unique needs and challenges, crafting tailored migration strategies that align with your objectives. With a focus on reliability, security, and innovation, we guide you through every step of the migration journey, empowering you to unlock the full potential of the cloud with confidence and peace of mind.</p>
                <!-- Botón Contact Us -->
                <a href="ContactUs"><button>Contact Us!</button></a>
            </div>
        </div>



        <div>
            <div class="sub-title">OUR SPECIALTIES IN THE AREA</div>
        </div>

        <div>
            <div class="ParrafoX">
                <p>
                    Welcome to Alignment Innovation, a leader in comprehensive cybersecurity solutions. We take pride in offering top-notch Cloud Migration services, designed to provide you with a secure and efficient transition to the cloud. With a customer-centric approach and a highly skilled team of cybersecurity experts, we're here to ensure you a seamless migration to cloud environments, giving you the peace of mind to focus on your business.
                </p>
            </div>
        </div>




        <!--Parte del medio-->

        <div class="content">

            <div class="image-container">
                <div class="image-wrapper">
                    <div class="image-text">
                        <h2>Multi-Cloud Engineering</h2>
                        <p>
                            Our company specializes in Multi-Cloud Engineering, which means we're trained to handle multiple cloud platforms simultaneously. Whether you prefer AWS, Azure, Google Cloud, or any other leading cloud platform, our team has the expertise to design and implement solutions that fit your specific needs.
                        </p>
                    </div>
                </div>
                <div class="image-wrapper">
                    <div class="image-text">
                        <h2>Microservices & API</h2>
                        <p>
                            With Microservices & API, we offer a flexible and scalable architecture for your cloud applications. By breaking down your systems into independent microservices and providing clear interfaces through APIs, we ensure greater agility and responsiveness in your cloud infrastructure.
                        </p>
                    </div>
                </div>
                <div class="image-wrapper">
                    <div class="image-text">
                        <h2>Human-Centered Design</h2>
                        <p>
                            We adopt a human-centered design approach to ensure that cloud migration seamlessly aligns with the needs and expectations of your team and customers. We're committed to understanding your unique goals and challenges, and designing intuitive and user-friendly solutions that drive cloud adoption and success.
                        </p>
                    </div>
                </div>
                <div class="image-wrapper">
                    <div class="image-text">
                        <h2>Agile and DevSecOps</h2>
                        <p>
                            We use Agile and DevSecOps methodologies to ensure a collaborative, iterative, and secure approach throughout the cloud migration process. From planning to implementation and continuous maintenance, our agile methodology and integrated secure development processes ensure fast, reliable, and secure delivery at every stage of the cloud journey.
                        </p>
                    </div>
                </div>
                <div class="image-wrapper">
                    <div class="image-text">
                        <h2>Cloud Transformation</h2>
                        <p>
                            We specialize in Cloud Transformation, helping organizations evolve their operations and adopt a cloud-based business model. Through customized migration and application modernization strategies, we're committed to driving innovation and efficiency in your technology infrastructure.
                        </p>
                    </div>
                </div>
                <div class="image-wrapper">
                    <div class="image-text">
                        <h2>Cloud Security</h2>
                        <p>
                            Above all, we take cloud security very seriously. Our team of cybersecurity experts implements best practices and cutting-edge technologies to protect your data and applications in the cloud against cyber threats. From risk identification and mitigation to access management and continuous monitoring, we're here to ensure the integrity and confidentiality of your cloud environment.
                        </p>
                    </div>
                </div>
            </div>

            <!--FINAL-->

            <div>
                <div class="sub-title">ALL OUR CAPABILITIES</div>
            </div>
        </div>

    <div class="image-buttons">

            <div class="image-button">
                <a href="/ArtificialIntelligence">
                    <img src="https://i.imgur.com/O6nG6jI.png">
                    <p>Artificial Intelligence</p>
                    <a />
            </div>


            <div class="image-button">
                <a href="CallCenterService">
                    <img src="https://i.imgur.com/KjrW4ss.png">
                    <p>Call Center Services</p>
                    <a />
            </div>


            <div class="image-button">
                <a href="CloudMigration">
                    <img src="https://i.imgur.com/d1wkxcz.png">
                    <p>Cloud Migration</p>
                    <a />
            </div>

            <div class="image-button">
                <a href="/CyberSecurity">
                    <img src="https://i.imgur.com/VEDDy4Y.png">
                    <p>CyberSecurity</p>
                    <a />
            </div>

            <div class="image-button">
                <a href="/DevSecOps">
                    <img src="https://i.imgur.com/OcgfqTR.png">
                    <p>Dev Sec Ops</p>
                    <a />
            </div>

            <div class="image-button">
                <a href="ThreatIntelligence">
                    <img src="https://i.imgur.com/r0KexV5.png">
                    <p>Threat Intelligence</p>
                    <a />
            </div>
    </div>

</body>
</html>
