@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<header style="margin-top: -17px;">
    <!-- Ajusta este margen para que la imagen quede debajo de la barra de navegación -->
    <!-- Background image -->
    <div class="p-5 text-center bg-image"
         style="
            background-image: url('https://i.imgur.com/GUe22ci.jpeg');
            background-size: cover; /* para cubrir todo el contenedor */
            background-repeat: no-repeat; /* para evitar la repetición de la imagen */
            background-position: center top; /* centra la imagen horizontalmente y la coloca en la parte superior */
            height: calc(100vh - 58px); /* calcula la altura restando el tamaño de la barra de navegación */
            width: 100vw; /* Ajusta el ancho para que ocupe todo el viewport horizontalmente */
    ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 100%;">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Heading</h1>
                    <h4 class="mb-3">Subheading</h4>
                    <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
                </div>
            </div>
        </div>
    </div>
</header>

