@page
@model Home
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        .background {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to right, #0d133f, #0b5f60);
            display: flex;
            flex-grow: 1;
            z-index: -1;
        }

            .background div {
                position: absolute;
                border-radius: 100%;
                height: 0;
                filter: blur(240vw);
                opacity: 0.4;
            }

                .background div:nth-child(1) {
                    background: linear-gradient(132deg, #ffdd00 0.00%, #04ff00 100.00%);
                    width: 150%;
                    padding-top: 150%;
                    left: 100%;
                    top: 100%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(2) {
                    background: linear-gradient(132deg, #ff00d0 0.00%, #ff0000 100.00%);
                    width: 97%;
                    padding-top: 97%;
                    left: 81%;
                    top: 0%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(3) {
                    background: linear-gradient(132deg, #209881 0.00%, #a75be3 100.00%);
                    width: 94%;
                    padding-top: 94%;
                    left: 75%;
                    top: 94%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(4) {
                    background: linear-gradient(132deg, #cce62 0.00%, #5f63fc 100.00%);
                    width: 17%;
                    padding-top: 17%;
                    left: 71%;
                    top: 88%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(5) {
                    background: linear-gradient(132deg, #1fb6d8 0.00%, #e8323d 100.00%);
                    width: 76%;
                    padding-top: 76%;
                    left: 76%;
                    top: 44%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(6) {
                    background: linear-gradient(132deg, #220f12 0.00%, #4af41f 100.00%);
                    width: 32%;
                    padding-top: 32%;
                    left: 47%;
                    top: 71%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(7) {
                    background: linear-gradient(132deg, #16e90d 0.00%, #df65a6 100.00%);
                    width: 26%;
                    padding-top: 26%;
                    left: 18%;
                    top: 69%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(8) {
                    background: linear-gradient(132deg, #5a1531 0.00%, #a771c6 100.00%);
                    width: 3%;
                    padding-top: 3%;
                    left: 85%;
                    top: 35%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(9) {
                    background: linear-gradient(132deg, #7c8377 0.00%, #ab79cb 100.00%);
                    width: 90%;
                    padding-top: 90%;
                    left: 30%;
                    top: 16%;
                    transform: translateX(-50%) translateY(-50%);
                }

                .background div:nth-child(10) {
                    background: linear-gradient(132deg, #a9ab90 0.00%, #191767 100.00%);
                    width: 47%;
                    padding-top: 47%;
                    left: 46%;
                    top: 69%;
                    transform: translateX(-50%) translateY(-50%);
                }


        /* Estilos para la imagen dentro del contenido */
        .top-image {
            width: 100%; /* Ajusta el ancho según sea necesario */
            margin-top: -100px; /* Ajusta el margen superior según sea necesario para evitar solapamientos */
        }

        .sub-title {
            text-align: center;
            color: white;
            font-size: 24px;
            margin-top: 50px; /* Ajusta según sea necesario */
            padding: 10px; /* Agregado para el recuadro alrededor del texto */
            background-color: #3B6BB0; /* Agregado para el fondo violeta */
            border-radius: 5px;

    </style>

    <div class="background">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</head>
<body>
    <!-- Fondo en la parte superior de la página -->
    <div class="background-image"></div>

    <!-- Contenido de la página -->
    <div class="content">
        <!-- Imagen dentro del contenido -->
        <img src="https://i.imgur.com/qs1ESyw.png" alt="Top Image" class="top-image">
        <div class="sub-title">OUR CAPABILITIES</div>

    </div>

    <script src="script.js"></script>
    <div class="container">
        <div class="image-container">
            <div class="image" id="image1">
                <a href="CyberSecurity">
                    <img src="https://i.imgur.com/iss74dm.jpeg" alt="Image 1" style="width: 350px; height: 300px;">
                    <div class="overlay">
                        <div class="text">CYBERSECURITY</div>
                    </div>
                </a>
            </div>
            <div class="image" id="image2">
                <a href="CallCenterService">
                    <img src="https://i.imgur.com/43w9GIo.png" alt="Image 2" style="width: 350px; height: 300px;">
                    <div class="overlay">
                        <div class="text">CALL CENTER SERVICES </div>
                    </div>
                </a>
            </div>
            <div class="image" id="image3">
                <a href="CloudMigration">
                    <img src="https://i.imgur.com/78WDr8y.jpeg" alt="Image 3" style="width: 350px; height: 300px;">
                    <div class="overlay">
                        <div class="text">CLOUD MIGRATION</div>
                    </div>
                </a>
            </div>
            <div class="image" id="image4">
                <a href="ArtificialIntelligence">
                    <img src="https://i.imgur.com/O3WQSI6.png" alt="Image 4">
                    <div class="overlay">
                        <div class="text">ARTIFICIAL INTELLIGENCE</div>
                    </div>
                </a>
            </div>
            <div class="image" id="image5">
                <a href="ThreatIntelligence">
                    <img src="https://i.imgur.com/ONVou2t.png" alt="Image 5">
                    <div class="overlay">
                        <div class="text">THREAT INTELLIGENCE</div>
                    </div>
                </a>
            </div>
            <div class="image" id="image6">
                <a href="DevSecOps">
                    <img src="https://i.imgur.com/XhiGqSm.png" alt="Image 6">
                    <div class="overlay"> 
                        <div class="text">DEV SEC OPS</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>



