@page
@model Home
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        /* Estilos para la imagen de fondo */
        .background-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://i.imgur.com/UFKspfB.png');
            background-size: cover;
            background-position: center;
            z-index: -1;
        }
        /* Estilos para la imagen dentro del contenido */
        .top-image {
            width: 100%; /* Ajusta el ancho según sea necesario */
            margin-top: -100px; /* Ajusta el margen superior según sea necesario para evitar solapamientos */
        }

        .sub-title {
            text-align: center;
            color: white;
            font-size: 24px;
            margin-top: 50px; /* Ajusta según sea necesario */
            padding: 10px; /* Agregado para el recuadro alrededor del texto */
            background-color: #3B6BB0; /* Agregado para el fondo violeta */
            border-radius: 5px;

    </style>
</head>
<body>
    <!-- Fondo en la parte superior de la página -->
    <div class="background-image"></div>

    <!-- Contenido de la página -->
    <div class="content">
        <!-- Imagen dentro del contenido -->
        <img src="https://i.imgur.com/qs1ESyw.png" alt="Top Image" class="top-image">
        <div class="sub-title">OUR CAPABILITIES</div>

    </div>

    <script src="script.js"></script>
    <div class="container">
        <div class="image-container">
            <div class="image" id="image1">
                <a href="CyberSecurity">
                    <img src="https://i.imgur.com/iss74dm.jpeg" alt="Image 1" style="width: 350px; height: 300px;">
                    <div class="overlay">
                        <div class="text">CYBERSECURITY</div>
                    </div>
                </a>
            </div>
            <div class="image" id="image2">
                <a href="CallCenterService">
                    <img src="https://i.imgur.com/43w9GIo.png" alt="Image 2" style="width: 350px; height: 300px;">
                    <div class="overlay">
                        <div class="text">CALL CENTER SERVICES </div>
                    </div>
                </a>
            </div>
            <div class="image" id="image3">
                <a href="CloudMigration">
                    <img src="https://i.imgur.com/78WDr8y.jpeg" alt="Image 3" style="width: 350px; height: 300px;">
                    <div class="overlay">
                        <div class="text">CLOUD MIGRATION</div>
                    </div>
                </a>
            </div>
            <div class="image" id="image4">
                <a href="ArtificialIntelligence">
                    <img src="https://i.imgur.com/O3WQSI6.png" alt="Image 4">
                    <div class="overlay">
                        <div class="text">ARTIFICIAL INTELLIGENCE</div>
                    </div>
                </a>
            </div>
            <div class="image" id="image5">
                <a href="ThreatIntelligence">
                    <img src="https://i.imgur.com/ONVou2t.png" alt="Image 5">
                    <div class="overlay">
                        <div class="text">THREAT INTELLIGENCE</div>
                    </div>
                </a>
            </div>
            <div class="image" id="image6">
                <a href="DevSecOps">
                    <img src="https://i.imgur.com/XhiGqSm.png" alt="Image 6">
                    <div class="overlay"> 
                        <div class="text">DEV SEC OPS</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>



