
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area of Expertise</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <div class="image" id="image1">
                <img src="https://img.freepik.com/vector-gratis/vector-fondo-tecnologia-seguridad-datos-tono-azul_53876-112201.jpg?w=1060&t=st=1713932051~exp=1713932651~hmac=69d96ec9d287a43a3beab2e78298abae268f2972622a1646c4886db2a8644938" alt="Image 1">
                <div class="overlay">
                    <div class="text">Cybersecurity is blablabla 1</div>
                </div>
            </div>
            <div class="image" id="image2">
                <img src="image2.jpg" alt="Image 2">
                <div class="overlay">
                    <div class="text">Text for Image 2</div>
                </div>
            </div>
            <!-- Agrega más imágenes con sus textos -->
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>