@page
@model Home
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        /* Estilos para la imagen de fondo */
        .background-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://i.imgur.com/UFKspfB.png');
            background-size: cover;
            background-position: center;
            z-index: -1;
        }
        /* Estilos para la imagen dentro del contenido */
        .top-image {
            width: 100%; /* Ajusta el ancho según sea necesario */
            margin-top: -100px; /* Ajusta el margen superior según sea necesario para evitar solapamientos */
        }

    </style>
</head>
<body>
    <!-- Fondo en la parte superior de la página -->
    <div class="background-image"></div>

    <!-- Contenido de la página -->
    <div class="content">
        <!-- Imagen dentro del contenido -->
        <img src="https://i.imgur.com/qs1ESyw.png" alt="Top Image" class="top-image">

        <div class="text-after-image">
            <p>OUR CAPABILITIES.</p>
        </div>


        <!-- Otro contenido de tu página -->
        <div>
            <!-- Otros elementos de tu página -->
        </div>
    </div>

    <script src="script.js"></script>
    <div class="container">
        <div class="image-container">
            <div class="image" id="image1">
                <img src="https://i.imgur.com/iss74dm.jpeg" alt="Image 1" style="width: 350px; height: 300px;">
                <div class="overlay">
                    <div class="text">CYBERSECURITY</div>
                </div>
            </div>
            <div class="image" id="image2">
                <img src="https://i.imgur.com/43w9GIo.png" alt="Image 2" style="width: 350px; height: 300px;">
                <div class="overlay">
                    <div class="text">CALL CENTER SERVICES </div>
                </div>   
            </div>
            <div class="image" id="image3">
                <img src="https://i.imgur.com/78WDr8y.jpeg" alt="Image 3" style="width: 350px; height: 300px;">
                <div class="overlay">
                    <div class="text">CLOUD MIGRATION</div>
                </div>
            </div>
            <div class="image" id="image4">
                <img src="https://i.imgur.com/O3WQSI6.png" alt="Image 4">
                <div class="overlay">
                    <div class="text">ARTIFICIAL INTELLIGENCE</div>
                </div>
            </div>
            <div class="image" id="image5">
                <img src="https://i.imgur.com/ONVou2t.png" alt="Image 5">
                <div class="overlay">
                    <div class="text">THREAT INTELLIGENCE</div>
                </div>
            </div>
            <div class="image" id="image6">
                <img src="https://i.imgur.com/XhiGqSm.png" alt="Image 6">
                <div class="overlay"> 
                    <div class="text">DEV SEC OPS</div>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>



